node-red-SIF407.json
[
    {
        "id": "6707720b260a7de7",
        "type": "tab",
        "label": "SIF 406",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "16dca6455d691915",
        "type": "tab",
        "label": "SIF 406 http",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "f8b194345e2ba8da",
        "type": "tab",
        "label": "SIF 407 by poc",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "beb4a67e3021ecc6",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "influx",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "c1477b0ad0be4efe",
        "type": "Stackhero-InfluxDB-v2-Server",
        "name": "",
        "host": "localhost",
        "port": "8086",
        "tls": true
    },
    {
        "id": "40c06a7ce536d349",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "SIF407",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "12a3b927e2063cae",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://130.130.130.5:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "107a4a4707c170e7",
        "type": "inject",
        "z": "6707720b260a7de7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 200,
        "wires": [
            [
                "3ac6f12b5fe10d6b"
            ]
        ]
    },
    {
        "id": "3ac6f12b5fe10d6b",
        "type": "http request",
        "z": "6707720b260a7de7",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://130.130.130.199/api/warehouseStatus?stationTypeId=406",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 200,
        "wires": [
            [
                "5874228ec126bc70"
            ]
        ]
    },
    {
        "id": "5874228ec126bc70",
        "type": "function",
        "z": "6707720b260a7de7",
        "name": "function 1",
        "func": "\nlet dataArray = msg.payload.Object.Locations; \n\n\n\nlet influxPoints = dataArray.map(item => {\n    if (!item) return null;\n\n    let skuObject = item[\"SKU\"];\n    let skuValue = (skuObject && typeof\n        skuObject === 'object')\n        ? String(skuObject.SKUID || \"Unknown SKU Missing ID\")\n        : String(skuObject || \"Unknown SKU Missing ID\");\n    if (!Array.isArray(dataArray) || dataArray.length === 0) {\n        node.warn(\"Error。\");\n        return null;\n    }\n        \n   \n    let statusTextValue = (item[\"LocationStatus\"] && typeof item[\"LocationStatus\"] === 'object') \n                          ? String(item[\"LocationStatus\"].Description) \n                          : String(item[\"LocationStatus\"] || \"Unknown_Status\");\n\n    return [\n        // (Field\n        {\n            \"status_id\": Number(item[\"LocationStatusID\"]), \n            \"row\": Number(item[\"Row\"]),\n            \"column\": Number(item[\"Column\"]),\n            \"disabled\": (item[\"Disabled\"] === \"true\" || item[\"Disabled\"] === true) ? true : false,\n            \"position_number\": Number(item[\"PositionNumber\"]),\n            \"position_label\": String(item[\"PositionLabel\"] || \"N/A\") \n        },\n        // Tags\n        {\n            \"location_id\": String(item[\"LocationID\"]), \n            \"station_id\": String(item[\"StationID\"]),\n            \n            \"sku\": skuValue, \n            \"location_status_text\": statusTextValue \n        }\n    ];\n}).filter(point => point !== null); \n\nmsg.payload = influxPoints;\nmsg.measurement = \"warehouse_location\"; \n\nif (msg.payload.length === 0) {\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 160,
        "wires": [
            [
                "5050cb0435449d0f",
                "48b79da7b5b175c9",
                "2e6130af9480f6a4"
            ]
        ]
    },
    {
        "id": "5050cb0435449d0f",
        "type": "change",
        "z": "6707720b260a7de7",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "sif406_status",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2e6130af9480f6a4",
        "type": "debug",
        "z": "6707720b260a7de7",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 140,
        "wires": []
    },
    {
        "id": "48b79da7b5b175c9",
        "type": "influxdb out",
        "z": "6707720b260a7de7",
        "influxdb": "40c06a7ce536d349",
        "name": "influx output",
        "measurement": "warehouse_location",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "MIA group 1",
        "bucket": "SIF406",
        "x": 1030,
        "y": 320,
        "wires": []
    },
    {
        "id": "9c25b241d1615b98",
        "type": "http in",
        "z": "6707720b260a7de7",
        "name": "HTTP In Node",
        "url": "/sif406/status",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "f5f0d71dd229f3ae"
            ]
        ]
    },
    {
        "id": "f5f0d71dd229f3ae",
        "type": "change",
        "z": "6707720b260a7de7",
        "name": "Change Node",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sif406_status",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 620,
        "wires": [
            [
                "c1a20ea5095d2df4"
            ]
        ]
    },
    {
        "id": "c1a20ea5095d2df4",
        "type": "http response",
        "z": "6707720b260a7de7",
        "name": "HTTP Response Node",
        "statusCode": "200",
        "headers": {},
        "x": 980,
        "y": 760,
        "wires": []
    },
    {
        "id": "866ff2c98c37a6f9",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "voltage",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=7;s=::AsGlobalPV:MESPAEA_rVoltage",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "3b6788a42ffda61a"
            ]
        ]
    },
    {
        "id": "3b6788a42ffda61a",
        "type": "OpcUa-Client",
        "z": "f8b194345e2ba8da",
        "endpoint": "12a3b927e2063cae",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "setstatusandtime": false,
        "keepsessionalive": false,
        "name": "",
        "applicationName": "",
        "applicationUri": "",
        "x": 520,
        "y": 320,
        "wires": [
            [],
            [
                "e15981a80911bb04",
                "0302dc3834b78645"
            ],
            []
        ]
    },
    {
        "id": "e15981a80911bb04",
        "type": "function",
        "z": "f8b194345e2ba8da",
        "name": "function 3",
        "func": "let value = msg.payload;\n\n\nif (typeof msg.payload === \"object\" && msg.payload !== null && msg.payload.value !== undefined) {\n    value = msg.payload.value;\n}\n\n\nlet topic = msg.topic || \"\";\nlet tag = null;\n\n\nif (topic.includes(\"MESPAEA_rVoltage\")) {\n    tag = \"voltage\";\n} else if (topic.includes(\"MESPAEA_rCurrent\")) {\n    tag = \"current\";\n} else if (topic.includes(\"MESPAEA_rActivePower\")) {\n    tag = \"ActivePower\";\n} else if (topic.includes(\"MESPAEA_rPowerFactor\")) {\n    tag = \"PowerFactor\";\n} else if (topic.includes(\"MESPAEA_udiEnergyConsumed\")) { \n    tag = \"EnergyConsumed\";\n}\n\n\nif (!tag) return null;\n\nlet state = flow.get(\"opcValues\") || {};\nstate[tag] = value; \nflow.set(\"opcValues\", state);\n\nmsg.payload = state;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0302dc3834b78645",
        "type": "debug",
        "z": "f8b194345e2ba8da",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "8b7d7a8629517a67",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "current",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"MESCommunication\".\"MESPAEA_rCurrent\"",
        "payload": "object",
        "payloadType": "date",
        "x": 160,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a28e81e77b0c3bb3",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "ActivePower",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"MESCommunication\".\"MESPAEA_rActivePower\"",
        "payload": "object",
        "payloadType": "date",
        "x": 180,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "80196a9233fe47c4",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "PowerFactor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"MESCommunication\".\"MESPAEA_rPowerFactor\"",
        "payload": "object",
        "payloadType": "date",
        "x": 200,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b5c02b1ea55fb558",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "EnergyConsumed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"MESCommunication\".\"MESPAEA_udiEnergyConsumed\"",
        "payload": "object",
        "payloadType": "date",
        "x": 210,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "34e31a15a56213b2",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=0;i=2258",
        "payload": "object",
        "payloadType": "date",
        "x": 340,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2c82e7bfd9c68469",
        "type": "http in",
        "z": "f8b194345e2ba8da",
        "name": "HTTP In Node",
        "url": "/sif407/status",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 470,
        "y": 660,
        "wires": [
            [
                "44ac6d55abf7488f"
            ]
        ]
    },
    {
        "id": "55bafa1f7b155684",
        "type": "http response",
        "z": "f8b194345e2ba8da",
        "name": "HTTP Response Node",
        "statusCode": "200",
        "headers": {},
        "x": 1020,
        "y": 700,
        "wires": []
    },
    {
        "id": "44ac6d55abf7488f",
        "type": "function",
        "z": "f8b194345e2ba8da",
        "name": "function 2",
        "func": "let state = flow.get(\"opcValues\")||{};\nmsg.payload = state;\nmsg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 680,
        "wires": [
            [
                "55bafa1f7b155684"
            ]
        ]
    },
    {
        "id": "6153b8a6813f3607",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "62a7bae3ff5e9193"
            ]
        ]
    },
    {
        "id": "62a7bae3ff5e9193",
        "type": "function",
        "z": "f8b194345e2ba8da",
        "name": "function 4",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "9a68f4861e99f446",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0",
            "node-red-contrib-stackhero-influxdb-v2": "1.0.4",
            "node-red-contrib-opcua": "0.2.345"
        }
    }
]
