node-red/SIF407.json
[
    {
        "id": "f8b194345e2ba8da",
        "type": "tab",
        "label": "SIF 407 by poc",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "866ff2c98c37a6f9",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "voltage",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"MESCommunication\".\"MESPAEA_rVoltage\"",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "3b6788a42ffda61a"
            ]
        ]
    },
    {
        "id": "3b6788a42ffda61a",
        "type": "OpcUa-Client",
        "z": "f8b194345e2ba8da",
        "endpoint": "2b2353c896db8642",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "1",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "setstatusandtime": false,
        "keepsessionalive": false,
        "name": "",
        "applicationName": "",
        "applicationUri": "",
        "x": 520,
        "y": 320,
        "wires": [
            [
                "0302dc3834b78645"
            ],
            [
                "e15981a80911bb04"
            ],
            []
        ]
    },
    {
        "id": "e15981a80911bb04",
        "type": "function",
        "z": "f8b194345e2ba8da",
        "name": "function 3",
        "func": "let value = msg.payload;\n\n\nif (typeof msg.payload === \"object\" && msg.payload !== null && msg.payload.value !== undefined) {\n    value = msg.payload.value;\n}\n\n\nlet topic = msg.topic || \"\";\nlet tag = null;\n\n\nif (topic.includes(\"MESPAEA_rVoltage\")) {\n    tag = \"voltage\";\n} else if (topic.includes(\"MESPAEA_rCurrent\")) {\n    tag = \"current\";\n} else if (topic.includes(\"MESPAEA_rActivePower\")) {\n    tag = \"ActivePower\";\n} else if (topic.includes(\"MESPAEA_rPowerFactor\")) {\n    tag = \"PowerFactor\";\n} else if (topic.includes(\"MESPAEA_udiEnergyConsumed\")) { \n    tag = \"EnergyConsumed\";\n}\n\n\nif (!tag) return null;\n\nlet state = flow.get(\"opcValues\") || {};\nstate[tag] = value; \nflow.set(\"opcValues\", state);\n\nmsg.payload = state;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0302dc3834b78645",
        "type": "debug",
        "z": "f8b194345e2ba8da",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 220,
        "wires": []
    },
    {
        "id": "8b7d7a8629517a67",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "current",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"MESCommunication\".\"MESPAEA_rCurrent\"",
        "payload": "object",
        "payloadType": "date",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "3b6788a42ffda61a"
            ]
        ]
    },
    {
        "id": "a28e81e77b0c3bb3",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "ActivePower",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"MESCommunication\".\"MESPAEA_rActivePower\"",
        "payload": "object",
        "payloadType": "date",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "3b6788a42ffda61a"
            ]
        ]
    },
    {
        "id": "80196a9233fe47c4",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "PowerFactor",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"MESCommunication\".\"MESPAEA_rPowerFactor\"",
        "payload": "object",
        "payloadType": "date",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "3b6788a42ffda61a"
            ]
        ]
    },
    {
        "id": "b5c02b1ea55fb558",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "EnergyConsumed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"MESCommunication\".\"MESPAEA_udiEnergyConsumed\"",
        "payload": "object",
        "payloadType": "date",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "3b6788a42ffda61a"
            ]
        ]
    },
    {
        "id": "34e31a15a56213b2",
        "type": "inject",
        "z": "f8b194345e2ba8da",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=0;i=2258",
        "payload": "object",
        "payloadType": "date",
        "x": 340,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2c82e7bfd9c68469",
        "type": "http in",
        "z": "f8b194345e2ba8da",
        "name": "HTTP In Node",
        "url": "/sif407/status",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 470,
        "y": 660,
        "wires": [
            [
                "44ac6d55abf7488f"
            ]
        ]
    },
    {
        "id": "55bafa1f7b155684",
        "type": "http response",
        "z": "f8b194345e2ba8da",
        "name": "HTTP Response Node",
        "statusCode": "200",
        "headers": {},
        "x": 1020,
        "y": 700,
        "wires": []
    },
    {
        "id": "44ac6d55abf7488f",
        "type": "function",
        "z": "f8b194345e2ba8da",
        "name": "function 2",
        "func": "let state = flow.get(\"opcValues\")||{};\nmsg.payload = state;\nmsg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 680,
        "wires": [
            [
                "55bafa1f7b155684"
            ]
        ]
    },
    {
        "id": "2b2353c896db8642",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://130.130.130.6:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "e33058cfeda12880",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-opcua": "0.2.345"
        }
    }
]
